/*******nicescroll***********************/
.nicescroll-rails {
    background: #453434;
    width: 2px !important;
}
.nicescroll-cursors {
    border: none !important;
    background-color: #ccc4bc !important;
    width: 2px !important;
}
/****************************/
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
ul {list-style-type: none;}
.fl {float: left;}
.fr {float: right;}
.btn {
    padding: 5px 24px;
    border: none;
    color: #fff;
    font-size: 11px;
}
.mini-btn {
    border: none;
    color: #fff;
    height: 30px;
    line-height: 30px;
    width: 30px;
    background-image: url(../img/back.png);
    background-repeat: no-repeat;
    background-position: center;
}
/*************************************************/
.yellow {
    background-color: rgb(232, 163, 24) ;
}
.brown {
    background-color: #3b2c2c;
}
.yellow-text{
    color: #FFD37B!important;
}
.red-text{
    color:#ba2530 !important;
}
.gray-text{
    color:#aba5a5 !important;
}
.red{
    background-color:#ba2530 !important;
}
.blue {
    background-color:#0e5f7f !important;
}
.purple {
    background-color:#683c88;
}
.coral {
    background-color: #8e6c44;
}
.pink {
    background-color:#b55b5b;
}

.blue-brd {
    border-color: rgb(14, 95, 127) !important;
}
.red-brd {
    border-color: #ba2530 !important;
}
.yellow-brd {
    border-color: #e8a318 !important;
}
.green {
    background-color: #008d46!important;
}
.green-text {
    color: #3ac177 !important;
}
.green-brd {
    border-color: #16e56c !important;
}
.brown-text {
    color: #3b2c2c;
}
.yellow-gray {
    background-color: #e8a318 !important;
    border: 3px solid #aba5a5;
}
.red-green:before {
    content:'';
    position: absolute;
    background: #0a6b5b;
    top: -2px;
    left: 2px;
    width: 2px;
    height: 10px;
    transform: rotate(45deg);
}
.circle {
    text-align: center;
    font-style: normal;
    border-radius: 50%;
    display: inline-block;
    background-color: #aba5a5;
}
.crl-brd {
    border: 2px solid;
    width: 10px;
    height: 10px;
    margin-top: 2px;
    position: relative;
    border-radius: 50%;
    display: inline-block;
}
.min-crl-brd {
    width: 5px;
    height: 5px;
    margin: 0;
}
.min-crl-brd.blue, .min-crl-brd.red {
    border: none;
}
.crl-brd.yellow {
    width: 8px;
    height: 8px;
    border: none;
}
.middle-crl {
    width: 14px;
    height: 14px;
    line-height: 14px;
}
.min-crl {
    width: 7px;
    height: 7px;
    line-height: 4px;
}
/*************************************************/
body {
    font-family: 'Roboto', sans-serif;
    color: #ccc4bc;
    font-size: 12px;
    line-height: 1;
    overflow-y: auto;
}
section.section-1, section.section-3 {
    width: 30%;
    height: 45vh;
    min-height: 320px;
}
.section-3 {
    background-color: rgb(44, 30, 30);
}
.section-2 {
    width: 40%;
    background: url(../img/bally-live.png) no-repeat;
    min-height: 320px;
    height: 45vh;
    line-height: 44vh;
    background-size: cover;
    text-align: center;
}
.section-2 span {
    height: 46px;
    line-height: 46px;
    width: 50%;
    border-radius: 5px;
    display: inline-block;
    color: #fff;
    padding: 0 8px;
    text-align: center;
    vertical-align: bottom;
    font-size: 14px;
}
.section-2 span small {
    float: left;
    line-height: 37px;
}
.section-2 span p {
    border-bottom: 3px solid #f0c742;
    line-height: 37px;
}
.section-1 {
    background-color: rgb(44, 30, 30);
    color: #ccc4bc;
    min-height: 320px;
    padding: 8px 20px;
    position: relative;
}
.section-1 a{
    display: block;
    width: 72px;
    margin: 0px auto 22px auto;
}
.section-1 div.menu {
    font-size: 17px;
    text-transform: uppercase;
    position: relative;
    color: #fff;
}
div.menu span {
    width: 12px;
    height: 9px;
    display: inline-block;
    margin-right: 13px;
    position: relative;
    margin-top: 4px;
}
div.menu span i{
    content: "";
    position: absolute;
    left: 0px;
    width: 13px;
    height: 1px;
    top: 0px;
    background: #ffffff;
    box-shadow: 0 4px 0 #ffffff, 0 8px 0 #ffffff;
}
.section-1 span ~ ul {
    display: none;
}
div.menu span:hover ~ ul {
    display: block;
    position: absolute;
    top: 20px;
}
.collapse{
    cursor: pointer;
    display: inline-block;
    width: 20px;
    height: 11px;
    background: url(../img/casino-place.png) no-repeat;
    margin-right: 7px;
}
.collapse + input, .collapse + input + div{
    display:none;
}
.collapse + input:checked + div{
    display:block;
    border-radius: 3px;
    background-color: rgb(59, 44, 44);
    width: 140px;
    height: 65px;
    position: absolute;
    padding: 8px 15px;
    margin-top: 10px;
    text-align: center;
}
.collapse + input:checked + div i{
    display: inline-block;
    width: 7px;
    height: 12px;
    background: url(../img/left.png) no-repeat;
    margin: 0 28px 0px 0px;
}
.collapse + input:checked + div i:nth-of-type(2) {
    transform: rotate(180deg);
    margin: 0 0px 0px 28px;
}
.collapse + input:checked + div button {
    margin: 11px auto;
}
.collapse + input:checked + div:before {
    position: absolute;
    display: block;
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    left: 7px;
    top: -8px;
    border-width: 0px 8px 8px 8px;
    border-color: transparent  transparent rgb(59, 44, 44)  transparent;
}
.collapse + input:checked + div:after {
    position: absolute;
    display: block;
    content: "x";
    width: 20px;
    height: 20px;
    right: -11px;
    background: #3b2c2c;
    line-height: 16px;
    color: #ccc4bc;
    top: -9px;
    border-radius: 50%;
    font-size: 10px;
}
/***chat******/
.chat {
    height: 110px;
    width: calc(100% - 40px);
    position: absolute;
    bottom: 48px;
}
.chat ul li {
    line-height: 21px;
    display: inline-block;
    width: 100%;
}
.chat ul li, .chat ul li * {
    float:left;
}
.chat ul li b {
    color:#fff;
}
section.section-1 input {
    width: calc(100% - 40px);
    border-radius: 5px;
    height: 26px;
    background-image: url(../img/send.png);
    background-position: 98.5% center;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 7px;
}
section.section-1 input:after {
    content: '';
    position:absolute;
    right:0;
    top:0;
    width: 10px;
    height: 26px;
}
/******************/
.section-3 .team-head  {
    background-color: rgb(30, 22, 22);
    width: 100%;
    height: 58px;
    line-height: 56px;
    display: inline-block;
    font-size: 20px;
}
.section-3 .team-head  span {
    width: 50%;
    text-align: center;
    position:relative;
    color: #fff;
}
.section-3 .team-head span:last-child:before{
    content:'';
    position:absolute;
    background-color: rgb(93, 69, 69);
    top: 8px;
    left:0;
    width: 2px;
    height: 42px;
}
.section-3 .team-head b {
    font-size: 30px;
    margin: -5px 19px;
    vertical-align: top;
}
.numbers {
    position: relative;
    height: calc(45vh - 36px - 58px);
}
.numbers span {
    display: inline-block;
    border-radius: 4px;
    background-color: rgb(30, 22, 22);
    width: 60px;
    height: 88px;
    line-height: 88px;
    font-size: 50px;
    text-align: center;
    position: absolute;
    color: #2c1e1e;
}
.numbers span:nth-child(1) {
    top: calc((100% - 88px - 100px) / 2);
    left: calc((50% - 130px)/2);
}
.numbers span:nth-child(2) {
    top: calc((100% - 88px - 100px) / 2);
    left: calc((50% - 0px)/2);
    /* top: 0; */
}
.numbers span:nth-child(3) {
    top: calc(100% / 2);
    width: 88px;
    height: 60px;
    line-height:60px;
    left: calc((50% - 88px)/2);
}
.numbers span:nth-child(4) {
    top: calc((100% - 88px - 100px) / 2);
    right: calc(50% /2);
}
.numbers span:nth-child(5) {
    top: calc((100% - 88px - 100px) / 2);
    right: calc((50% - 130px)/2);
}
.numbers span:nth-child(6) {
    top: calc(100% / 2);
    width: 88px;
    height: 60px;
    line-height:60px;
    right: calc((50% - 88px)/2);
}

.section-3 button {
    background-color: rgba(93, 69, 69, 0.2);
    width: calc(50% - 4px);
    height: 36px;
    opacity: 0.4;
}
/********.section-4 ***********************************/
.section-4 {
    background-color: rgb(44, 30, 30);
    width: 100%;
    text-align: center;
    min-height: 16vh;
    line-height: 16vh;
    display: inline-block;
}
.section-4 > div {
    display:inline-block;
    vertical-align: middle;
}
.section-4 > div > div {
    float: none;
    display: inline-grid;
    vertical-align: middle;
}
.section-4-1 {
    margin-right: 40px;
    width: 62px;
}
.section-4-1 span {
    text-align: center;
    display: block;
    border-bottom: 1px solid #ccc4bc;
    line-height: 17px;
}
.section-4-1 ul li {
    width: 50%;
    text-align: left;
    line-height: 15px;
    float: left;
}
.section-4-1 ul li .circle.middle-crl {
    font-size: 8px;
}
.section-4-1 ul li:nth-of-type(2n) {
    text-align: right;
}
.section-4-2 ul {
    grid-auto-flow: column;
    display: grid;
    grid-gap: 1px;
    margin: 1px 0;
}
.section-4-3 > ul {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 1px;
    margin-left: 7px;
}
.section-4-3 > ul:first-child {
    margin-bottom:5px;
}
.section-4-3 > ul ul {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: repeat(6,1fr);
}
/*********************************************/
.section-5 {
    background: url(../img/table-poker.png) repeat;
    width: 100%;
    text-align: center;
    perspective: 845px;
    color: #fff;
    min-height: 39vh;
}
section.section-5 > div {
    transform-style: preserve-3d;
    transform: rotateX(36deg) translateX(-7px) translateY(3px) rotateZ(0deg) scale(1);
    width: 70%;
    margin: 16px auto 0 auto;
    min-width: 900px;
}
section.section-5 > div > ul {
    display: grid;
    grid-template-columns: 170px 1fr 170px;
}
.table-col-4 {
    border-bottom-left-radius: 23%;
    box-shadow: -1px 5px 0px rgba(0, 0, 0, 0.19);
    padding-top: 16px;
}
.table-col-4 span *, .table-col-6 span * {
    display: block;
    line-height: normal;
}
.table-col-6 {
    border-bottom-right-radius: 23%;
    box-shadow: -1px 5px 0px rgba(0, 0, 0, 0.19);
    padding-top: 16px;
}
section.section-5 > div > ul > li:nth-of-type(7), section.section-5 > div > ul > li:nth-of-type(9), section.section-5 > div > ul > li:nth-of-type(8),  section.section-5 > div > ul > li:nth-of-type(10),  section.section-5 > div > ul > li:nth-of-type(12) {
    border: none;
    height: 0;
}
section.section-5 > div > ul > li:nth-of-type(8) {
    height:90px;

}
.table-col-8 ul:last-child {
    line-height: normal;
}
.table-col-8:before {
    border: 2px solid #f7e5cb;
    content: '';
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    height: 86px;
    box-sizing: border-box;
    box-shadow: -1px 5px 0px rgba(0, 0, 0, 0.19);
    border-radius: 0px 60px 75px 74px/0px 0px 95px 87px;
}
section.section-5 > div > ul > li {
    border: 2px solid #f7e5cb;
    height: 90px;
    line-height: 90px;
    position: relative;
    overflow: hidden;
}
section.section-5 > div > ul li ul {
    display: grid;
    grid-auto-flow: column;
    line-height: 43px;
    grid-template-columns: 150px 1fr 150px;
}
section.section-5 > div > ul li ul:last-child {
    grid-template-columns: repeat(6,1fr);
}
.section-5  div ul b {
    text-transform: uppercase;
    white-space: nowrap;
    line-height: 22px;
    letter-spacing: 4px;
}
.section-5 .red-text {
    color: #f47676 !important;
}
section.section-5 > div > ul > li:nth-of-type(11) {
    border: none;
    line-height: normal;
    height: 30px;
}
section.section-5 > div > ul > li:nth-of-type(11) ul {
    margin: 0 9px;
}
section.section-5 > div > ul > li:nth-of-type(11) li {
    line-height: normal;
    font-weight: 300;
}
.fa-user {
    display: block;
    font-size: 15px;
}
.table-col-1 b, .table-col-3 b {
    font-size: 20px;
    display: inline-block;
}
.table-col-4 b {
    font-size: 13px;
}
.table-col-2 small, .table-col-5 small, .table-col-8 small {
    font-size: 14px;
}

.table-col-2 span, .table-col-5 span, .table-col-8 span {
    font-size: 20px;
    font-weight: 300;
}
.table-circle {
    width: 40px;
    height: 30px;
    line-height: 23px;
    border: 2px solid #f7e5cb;
    background: transparent;
    position: relative;
    vertical-align: middle;
}
.table-circle:before {
    content: "";
    position: absolute;
    background: #f7e5cb;
    width: 2px;
    height: 8px;
    top: 100%;
    left: calc(50% - 1px);
}
.table-circle .pokerchip {
    transform: rotateX(18deg) translateX(-7px) translateY(-9px) rotateZ(0deg) scale(0.8, 0.7);
}
b.table-game-name {
    font-size: 38px;
    vertical-align: middle;
}
/*******************/
aside {
    background-color: rgb(30, 22, 22);
    width: 100%;
    line-height: 62px;
    padding: 0 18px 0 24px;
    text-align: center;
    /* position: absolute; */
    /* bottom: 0; */
    display: inline-block;
}
aside:before {
    content: '';
    position: absolute;
    top: -4px;
    left: 0;
    width: 100%;
    border-bottom: 4px solid #ba2530;
    box-sizing: border-box;
}

aside .btn {
    text-transform: uppercase;
    height: 30px;
    width: 150px;
}
aside .btn.brown {
    background-image: url(../img/x.png);
    background-repeat: no-repeat;
    background-position: 35px;
    font-size: 14px;
    color: rgb(204, 196, 188);
}
aside .btn.casher {
    margin-top: 16px;
    background: transparent;
    border: 1px solid rgb(206, 198, 170);
    color: rgb(204, 196, 188);
}
.chips {
    margin: 0 auto;
    display: inline-block;
}
.chips > * {
    display: inline-block;
    vertical-align: middle;
}
.chips i {
    display: inline-block;
    vertical-align: middle;
    width: 9px;
    height: 14px;
    background: url(../img/scr.png) no-repeat;
    margin: 0 10px 0 0;
}
.chips i:nth-of-type(1) {
    transform: rotate(180deg);
    opacity: 0.5;
    margin: 0 0 0 10px;
}
.pokerchip {
    display: inline-block;
    margin: 0 5px;
    vertical-align: middle;
}
.pokerchip , .pokerchip  .segment {
    border-color: #fff;
    border-radius: 50%;
    border-style: solid;
    border-width: 3px;
    box-sizing: border-box;
    height: 40px;
    position: relative;
    width: 40px;
    font-size: 14px;
    line-height: 36px;
}

.pokerchip .segment {
    -webkit-clip-path: inset(0 17px 0px 17px);
    left: -3px;
    position: absolute;
    top: -3px;
}

.pokerchip.purple .segment {
    border-color: #683c88;
}
.pokerchip.blue .segment {
    border-color: #0e5f7f;
}
.pokerchip.green .segment {
    border-color: #008d46;
}
.pokerchip.coral .segment {
    border-color: #8e6c44;
}
.pokerchip.pink .segment {
    border-color: #b55b5b;
}
.pokerchip.red .segment {
    border-color: #ba2530;
}
.pokerchip.yellow .segment {
    border-color: rgb(232, 163, 24) ;
}
.pokerchip .segment:nth-child(1) {transform: rotate(45deg);}
.pokerchip .segment:nth-child(2) {transform: rotate(135deg);}
.pokerchip .segment:nth-child(3) {transform: rotate(225deg);}
.pokerchip .segment:nth-child(4) {transform: rotate(315deg);}

aside ul {
    float: right;
    vertical-align: middle;
    display: inline-block;
}
aside ul li {
    display: inline-block;
    width: 30px;
    height: 30px;
    vertical-align: middle;
    background-size: initial;
}
aside ul li:nth-child(1) {
    background: url(../img/i-1.png) no-repeat center;
}
aside ul li:nth-child(2) {
    background: url(../img/i-2.png) no-repeat center;
}
aside ul li:nth-child(3) {
    background: url(../img/i-3.png) no-repeat center;
}
aside ul li:nth-child(4) {
    background: url(../img/i-4.png) no-repeat center;
}
aside ul li:nth-child(5) {
    background: url(../img/i-5.png) no-repeat center;
}
aside ul li:nth-child(6) {
    background: url(../img/i-6.png) no-repeat center;
}